<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attendance Tracker</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <div class="flex justify-center flex-col m-10 align-center items-center">
        <img class="h-52 w-52 pb-5" src="https://img.hayden.gg/aaa4269921401363dcb59eefaa87af31.gif">
        <div>
            <p>Scan the code to mark yourself present</p>
        </div>
        <div>
            <img src=<%= url %>
        </div>
    </div>
</body>
</html>